net: DBnet
device_num: 8
backbone:
    initializer: resnet18
    pretrained: True
    backbone_ckpt: "./pretrained/resnet18-5c106cde.ckpt" # If on modelarts, set the name of checkpoint saved in data_url
optimizer:
    lr:
        base_lr: 0.02
dataset:
    num_workers: 3
    prefetch_size: 20
train:
    total_epochs: 2000
    batch_size: 8
