net: DBnet
stop_value: {"fmeasure": 0.72}
backbone:
    initializer: mobilenetv3
    pretrained: True
    backbone_ckpt: "./pretrained/mobilenetv3.ckpt" # If on modelarts, set the name of checkpoint saved in data_url
segdetector:
    in_channels: [16, 24, 56, 480]  # R18: [64, 128, 256, 512]
optimizer:
    lr:
        base_lr: 0.007
