aipp_op {
    aipp_mode: static
    input_format : RGB888_U8

    rbuv_swap_switch : false

    src_image_size_w: 640
    src_image_size_h: 480

    mean_chn_0 : 124
    mean_chn_1 : 117
    mean_chn_2 : 104
    var_reci_chn_0 : 0.017124754
    var_reci_chn_1 : 0.017507003
    var_reci_chn_2 : 0.017429194
}
