aipp_op{
    aipp_mode: static
    src_image_size_w:112
    src_image_size_h:112
    input_format : RGB888_U8
    csc_switch: false
    rbuv_swap_switch : false

    min_chn_0 : 127.5
    min_chn_1 : 127.5
    min_chn_2 : 127.5
    var_reci_chn_0: 0.00784314
    var_reci_chn_1: 0.00784314
    var_reci_chn_2: 0.00784314
}
